body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}
.designPagina {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h4, h5 {
    color: #007BFF;
}
p {
    line-height: 1.6;
    margin-bottom: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.coluna {
    flex: 1;
    min-width: 300px;
}
.imgManual {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}