* {
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(0, 102, 255);
  font-family: 'Roboto', sans-serif;
  color: #333;
  text-align: center;
  overflow-x: hidden; /*evita o scroll horizontal */
}
.logo {
  max-height: 50px;
}
header {
    background-color: rgb(240, 240, 240);
    padding: 10px;
    color: white;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
}
/* titulos */
h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #007BFF;
}
h1 {
  font-size: 1.2rem;
}
h2{  
  font-size: 35px;
  margin-bottom: 25px;
}
h4 {
  font-size: 25px;
  margin-bottom: 15px;
}
h5 {
  font-size: 20px;
}
/* paragrafos */
p {
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
}
/* menu de navegação */
nav {
  justify-content: center;
  padding: 15px;
  align-items: center;
}
ul {
  list-style-type: none;
  overflow: hidden;
  border-radius: 10px;
}
li {
  float: left;
}
li a, .dropdownbtn {
  display: inline-block;
  color: rgb(70, 70, 70);
  padding: 10px 15px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 5px;
  font-weight: bold;
}
li a:hover, .dropdown:hover .dropdownbtn {
  background-color: #0055f1;
  transform: translateY(-2px);
  color: white;
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 8px;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: max-height 0.9s ease-in-out;
  overflow: hiden;
}
.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1; color: rgb(29, 29, 29);}
.dropdown:hover .dropdown-content {
  display: block;
}
/*paginas*/
section { 
  background-color: rgb(238, 237, 237, 1.0);
  border-radius: 10px;
  width: 95%;
  padding: 10px;
  margin:auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  flex-wrap: wrap
}
.imgManual {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 1px;
  margin-bottom: 20px;
}
.center{
    text-align: center;  
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.coluna {
  flex: 1;
  padding: 10px;
  min-width: 300px;
}
/*rodape*/
footer {
  background-color: whitesmoke;
  text-align: center;
}
.footer-content p{
  text-align: center;
}
/*menu hamburguer para cel*/
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 7px;
  width: 20px;
  height: 20px;
  background-color: #012e8f;
  border-radius: 10px;
  align-items: center;
}
.bar {
  width: 20px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin: 2px 0;
}
@media (max-width: 820px) {
  .hamburger {
    display: flex;
  }
  .nav-links {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #012e8f;
    text-align: center;
    padding-top: 60px;
  }
  .nav-links li {
    margin: 15px 0;
  }
  .nav-links.active {
    display: flex;
    overflow-y: auto;
  }
  .dropdown-content {
    display: none;
    background-color: #d1d1d1;
    position: fixed;
  }
 ul {
  border-radius: 0px;
 }
 li a, .dropdownbtn {
  color: white;
}
li a:hover, .dropdown:hover .dropdownbtn {
  background-color: #009c34;
  transform: translateY(-2px);
}
}