* {
  padding: 0;
  margin: 0;
}

body{
  background-color: rgb(0, 102, 255);
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.logo {
  justify-content: center;
  width: 35%;
}

header {
    background-color: rgb(240, 240, 240);
    padding: 10px;
    color: white;
    font-family: sans-serif, Verdana, Geneva, Tahoma;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

h1 {
  text-align: center;
  color: #007BFF;
  font-size: 1.2rem;

}

h2{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #007BFF;
  font-size: 30px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  line-height: 3.0;
  text-align: center;
  color: #007BFF;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 3.0;
  color: #007BFF;
}

p {
 /* line-height: 1.5;
  /*text-indent: 2em;*/
  /*padding-left: 2em;*/
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: left;
  /*white-space: pre-wrap;
  word-wrap: break-word;*/
}


ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #349fc9;
  border-radius: 10px;
  
}
li {
  float: left;
}
li a, .dropdownbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
}
li a:hover, .dropdown:hover .dropdownbtn {
  background-color: rgb(110, 188, 111);
}
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {
  display: block;

}
nav {
  display: flex;
  justify-content: center;
}

section { 
  background-color: rgb(238, 237, 237, 1.0);
  border-radius: 10px;
  width: 95%;
  padding: 10px;
  margin:auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  flex-wrap: wrap
}

.imgManual {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 1px;
  margin-bottom: 20px;
}

.center{
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.coluna {
  flex: 1;
  padding: 10px;
  min-width: 300px;
}

