styles.css 

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}


header {
    background-color: #0099ff;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    
}

nav ul li {
    margin-right: 20px;
    display: inline-block;
    position: relative;
    
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

nav ul li:hover ul {
    display: block;
}

main {
    padding: 20px;
}

p {
    color: #666;
}